/**
 *
 * app/layout.tsx で読み込まれるグローバルスタイル
 *
 * PostCSS で Tailwind やその他プラグインを使用
 * package.json の "browserslist" で、対応ブラウザを設定
 * @see https://nextjs.org/docs/advanced-features/customizing-postcss-config
 *
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Custom Properties */
}

/* THEME VARIABLES */
html {
  --content-width: 55rem;
  --outer-content-width: 80rem;
  --viewport-padding: 16px;
  --header-height: 5rem;
  --trimmed-content-width: calc(
    var(--content-width) - var(--viewport-padding) * 2
  );
}

@media (min-width: 35rem) {
  html {
    --viewport-padding: 24px;
  }
}

@layer base {
  /* font-family は、tailwind.config.js の fontFamily で設定 */
}

@layer components {
  :root {
    --btn-padding-x: 1.25em;
    --btn-padding-y: 0.5em;
  }
  .btn-small {
    --btn-padding-x: 0.6em;
    --btn-padding-y: 0.25em;
  }
  .btn {
    @apply inline-block px-[var(--btn-padding-x)] py-[var(--btn-padding-y)] transition hover:scale-105;
  }
  .btn-primary {
    @apply bg-primary text-white transition hover:bg-primary-300 focus:ring-2 focus:ring-primary-400 focus:ring-opacity-75;
  }
  .btn-outline-primary {
    @apply border border-primary text-primary transition hover:bg-primary-100 focus:ring-2 focus:ring-primary-400 focus:ring-opacity-75;
  }
  .btn-secondary {
    @apply bg-orange-500 text-white transition hover:bg-orange-700 focus:ring-2 focus:ring-orange-400 focus:ring-opacity-75;
  }
  .btn-icon {
    @apply inline-flex items-center justify-center gap-x-3.5;
  }
  .box-alert {
    @apply rounded-md border border-red-200 bg-red-50 p-4 text-sm text-red-600;
  }
}

@layer utilities {
  /* ユーティリティ */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  min-height: 100svh;
}

header {
}

.site-wrapper {
  flex-grow: 1;
  margin-inline: auto;
}

footer {
}

.container {
}
